<div class="product">
  <p class="title"><%= instrument_name %></a></p>
  <p class="info">
    Category:
    <% categories.forEach((cat, idx) => { %>
    <a href="/categories/<%= category_ids[idx] %>"><%= cat %></a><%= idx === categories.length - 1 ? "" : "," %>
    <% }) %>
  </p>
  <p class="info">Brand: <a href="/brands/<%= brand_id %>"><%= brand_name %></a></p>

  <div>
    <a href="/products/update/<%= id %>"><button>Edit</button></a>
    <form action="/<%= id %>" method="POST" style="display:inline;">
      <button onclick="return confirm('Are you sure you want to delete instrument?');">Delete</button>
    </form>
  </div>
</div>