<div class="product">
  <p class="title"><%= instrument_name %></a></p>
  <p class="info">
    Category:
    <% categories.forEach((cat, idx) => { %>
    <a href="/categories/<%= category_ids[idx] %>"><%= cat %></a><%= idx === categories.length - 1 ? "" : "," %>
    <% }) %>
  </p>
  <p class="info">Brand: <a href="/brands/<%= brand_id %>"><%= brand_name %></a></p>

  <div>
    <button>Edit</button>
    <button>Delete</button>
  </div>
</div>